body
{
  color: white;
  background: skyblue;
}
.heading
{
  width: 80%;
  font-size: 22px;
}
#camera 
{
  border: 2px solid black;
  width: 350px;
  height: 300px; 
  border-radius:"15";
}
.name_of_objects, #result_object_name  , #result_object_accuracy
{
  color: black;
}

h1
{
  font-family: 'Quicksand', sans-serif;
}

h2
{
  font-family: 'Quicksand', sans-serif;
}


h3
{
  font-family: 'Quicksand', sans-serif;
}

h4
{
  font-family: 'Quicksand', sans-serif;
}

h5
{
  font-family: 'Quicksand', sans-serif;
}

h6
{
  font-family: 'Quicksand', sans-serif;
}

p
{
  font-family: 'Quicksand', sans-serif;
}

label
{
  font-family: 'Quicksand', sans-serif;
}

b
{
  font-family: 'Quicksand', sans-serif;
  color: white;
}

#capture_image 
{
  font-family: 'Quicksand', sans-serif;
  color: black;
  background-color: white;
}

#recognize_image 
{
  font-family: 'Quicksand', sans-serif;
  color: black;
  background-color: white;
}

#camera
{
  border-width: 4;
  border-radius: 8;
}

#result
{
  border-width: 4;
  border-radius: 8;
}

